.tama{
	height:500px;	
	
}



h1{
	color: white;
	padding-top:2px;
}
h2{
	color: black;
	padding-top:2px;
        text-align: center;
}
modal fade{
	text-align:center;
	background-position:center;
	padding:12px ;
	margin:12px auto;
}
#cuerpo{text-align:center;
	background-position:center;
	padding:12px ;
	margin:12px auto;}
.cabecera{
	background:#000000;
	font-size: 200%;
	color: green;
	height: 130px;
	background-repeat:no-repeat;
	padding-top: 15px;
	padding-left: 45px;
	text-align: center;
	padding-right: 45px;

}
.pie{
	background: #9A9A9A;
	color: white;
	text-align: center;
	margin: 0 auto;
	height: 30px;
	padding-top: 5px;
}



