h2{
	color: red;
	padding:0.5px;
	font-size:26px;
}
section{
	width:550px;
	text-align:center;
	background-position:center;
	
	margin-left:180px;
	margin-top:100px;
}
.panel-default{
	background:#4A82AB;
}
body{
	background:url(../img/fondo6.jpg) #30B2CD;
	background-position:center;
	width:90%;
	height:90%;
}

.cuerpo{
	color: #000000;
	text-align: center;
	height: 250px;
	margin:5% auto;
	padding:10%;
	background-repeat:no-repeat;
}
